PORT=3010

STOTRA_MONGODB_USERNAME=
STOTRA_MONGODB_PASSWORD=
STOTRA_MONGODB_CLUSTER=
MONGO_DB_NAME=antitude_defense

STOTRA_JWT_SECRET=
STOTRA_TURNSTILE_SECRET=

SCENARIO_SERVICE_URL=http://127.0.0.1:8000
MARKET_REACTION_URL=http://127.0.0.1:8002
AI_JUDGMENT_SERVICE_URL=http://127.0.0.1:8003

STOTRA_AI_USE_LLM=false
GEMINI_API_KEY=
